#navContainer {
  background-color:#303023 !important;
  float:left;
  display:block;
  width: 100%;
  height: 200px;
}

#navHamburger{
  display: none !important;
}

#nav {
  width: 100%;
  float: left;
  padding: 0;
  list-style: none;
}

#nav li {
  display:inline-block;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  background-color:rgba(0, 0, 0, 0);
  max-width: 300px;
}

.navText{
  color: white;
}

#nav img {
  max-width: 300px;
}

#nav a {
  text-decoration: none; /* no underline */
}

.hamburgerText {
  color: white;
}

#navLogo {
  float: left;
}

#navVersion {
   position:absolute;
   top:0;
   right:0;
   display: inline-block !important;
   font-size: small !important;
}

#nav li:hover {
  /*background-color: white;*/
  color: black;
  transform: translateY(-10px);
  border-radius: 30px;
  cursor: pointer;
}

/* Mobile overrides */
@media only screen and (max-width: 700px) {
  .navContainer {
    margin: auto;
    width: 100%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    font-size: medium;
  }

  #nav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .navText {
    display: none;
  }

  #navHamburger{
     position:absolute;
     top:0;
     right:0;
     display: inline-block !important;
  }

  #navContainer {
    height: 5%;
  }

  #navVersion {
    top: 5%;
  }
}