@font-face {
  font-family: 'Avenir Book';
  src: url('../../src/fonts/AvenirLTStd-Book.otf')
}

@font-face {
  font-family: 'Stag';
  src: url('../../src/fonts/Stag-Book.otf');
}

/* Remove styling from list */
ul {
  font-family: 'Stag';
  list-style-type: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  
}

#navContainer {
  background-color:#303023 !important;
  float:left;
  display:block;
  width: 100%;
  height: 200px;
}

#navHamburger{
  display: none !important;
}

#nav {
  width: 100%;
  float: left;
  padding: 0;
  list-style: none;
}

#nav li {
  display: inline-block;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  background-color:rgba(0, 0, 0, 0);
  max-width: 300px;
  list-style: none;
}

.navText{
  color: white;
}

#nav img {
  max-width: 300px;
}

#nav a {
  text-decoration: none; /* no underline */
}

.hamburgerText {
  color: white;
}

#navLogo {
  display: block;
  float: left;
}

#navVersion {
   position:absolute;
   top:0;
   right:0;
   margin-top: 20px;
   display: inline-block !important;
   font-size: 10px !important;
   font-family: 'Avenir Book';
}

#nav li:hover {
  list-style-type: none;
  color: black;
  /*transform: translateY(-10px);*/
  border-radius: 30px;
  cursor: pointer;
}

#navVersion:hover {
  color: white !important;
  transform: none !important;
  border-radius: none !important;
  cursor: none !important;
}


/* Mobile overrides */
@media only screen and (max-width: 700px) {
  .navContainer {
    margin: auto;
    width: 100%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    font-size: medium;
  }

  #nav img {
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: 50%;
  }

  .navText {
    font-family: 'Stag';
    display: none;
  }

  #navHamburger{
     position:absolute;
     top:40px;
     right: 10px;
     display: inline-block !important;
     scale: 150%
  }

  #navContainer {
    height: 5%;
  }

  #navVersion {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
}