.profilePic {
  max-width: 10%;
  border-radius: 60%;
}

.profile {
  background-color: white;
  border-radius: 5px;
}

.profileName{
  float: left;
  padding-left: 1%;
  padding-top: 1%;
  font-weight: bold;
}

.logoContainer{
  display: inline-block;
  padding-left: 2.5%;
}

@media only screen and (max-width: 700px) {
  .logoContainer img {
    width: 25px;
    height: 25px;
  }

  .profilePic {
    max-width: 20%;
  }
}