@font-face {
    font-family: 'Montserrat';
    src: url('../../src/fonts/Montserrat-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Stag';
    src: url('../../src/fonts/Stag-Book.otf');
  }

  @font-face {
    font-family: 'Stag Light';
    src: url('../../src/fonts/Stag-Light.otf');
  }

.win-text {
    color: #303023;
    font-family: 'Stag Light', 'Avenir', sans-serif;
}

.win-button {
    background-color: rgb(171, 162, 160);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Stag', 'Verdana', 'Tahoma', 'Arial', sans-serif;
}

.cert-button {
    background: rgb(98, 168, 229);
}

.num-players-drop-down {
    border: none;
    font-size: 22px;
}

.num-players-button {
    background-color: rgb(151, 169, 38);
}