@font-face {
  font-family: 'Avenir Book';
  src: url('./src/fonts/AvenirLTStd-Book.otf')
}

@font-face {
  font-family: 'Stag';
  src: url('./src/fonts/Stag-Book.otf');
}

@font-face {
  font-family: 'Stag Light';
  src: url('./src/fonts/Stag-Light.otf');
}

.App {
  font-family: 'Stag Light';
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#appRouter {
    display: inline-block;
}

.App-header {
  min-height: 100vh;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #7a726f;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
