.game-button {
    background-color: rgb(171, 162, 160);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Verdana', 'Tahoma', 'Arial', sans-serif;
    background-color: rgb(98, 168, 229);
}

.reportAnIssueWrapper{
  background-color: white;
  border-radius: 10px;
  height: 75%;
}

.userInfoInputLabel {
  font-style: italic;
  font-weight: bold;
  padding-right: 2%;
}

.userInfoSubmitButton {
    width: 10%;
    height: 40px;
    background-color: rgb(98, 168, 229);
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}

.userInfoInput {
  resize: none;
  width: 75%;
  height: 100px;
  padding-left: 5px;
  padding-top: 5px;
  border-width: medium;
  border-radius: 10px;
  font-size: x-large;
}
