/* All components */

.game-text {
    color: #3a3a31;
}

.game-button {
    background-color: rgb(185, 108, 56);
    border: 1px solid #3a3a31;
    border-radius: 30px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 3px dimgray;
}

/* Top Message */

.welcome-top-msg {
    text-shadow: 3px 3px 5px gray;
}

.welcome-sub-msg {
    font-style: italic;
}

.correct-msg {
    font-style: italic;
}

.game-start-button {
    padding: 15px 32px;
}

.current-level-text {
    font-family:monospace;
    text-shadow: 1px 1px 2px gray; 
}

/* Answer Display */

.artifact-image {
    max-width: 50vw;
    height: auto;
    border-radius: 5%;
    border-style: solid;
    border-width: 3px;
    border-color: #3a3a31;
}

.artifact-name {
    border-bottom: 1px;
}


.artifact-text-container {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 20px 15px;
    margin-left: 6vh;
    margin-right: 6vh;
    background: rgba(199, 190, 186, 0.5);
    font-weight: 600;
}

/* Scan Display */

.open-scanner-button {
    padding: 10px 22px;
    font-size: 24px;
}

/* Hint Display */

.clue-text {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 20px 15px;
    margin-left: 6vh;
    margin-right: 6vh;
    margin-bottom: 2vh;
    background: rgba(199, 190, 186, 0.5);
    font-weight: 600;
}

/* Manual Entry Display */

.manual-entry-text {
    font-style: italic;
}

.manual-entry-submit{
    background-color: rgb(185, 108, 56);
    border: 1px solid #3a3a31;
    border-radius: 10px;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}