/* All components */

.game-text {
    color: rgb(122, 114, 111);
    font-family: 'Avenir', sans-serif;
}

.game-button {
    background-color: rgb(171, 162, 160);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Verdana', 'Tahoma', 'Arial', sans-serif;
}

/* Top Message */

.top-message {
    margin-top: 3vh;
    padding: 1vh 5vh 0 5vh;
}

.welcome-sub-msg {
    font-style: italic;
}

.correct-msg {
    font-style: italic;
}

.game-start-button {
    padding: 15px 30px;
    background-color: rgb(98, 168, 229);
}

/* Answer Display */

.artifact-image {
    max-width: 80vw;
    height: auto;
    border-radius: 5%;
    border-style: solid;
    border-width: 3px;
    border-color: #3a3a31;
}

.artifact-name {
    border-bottom: 1px;
    color: rgb(98, 168, 229);
}

.artifact-text-container {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 20px 15px;
    margin-left: 6vh;
    margin-right: 6vh;
    background: rgba(199, 190, 186, 0.5);
    font-weight: 400;
}

.next-level-button {
    font-size: 24px;
    background: rgb(151, 169, 38);
}

/* Scan Display */

.open-scanner-button {
    padding: 10px 22px;
    font-size: 24px;
    background: rgb(98, 168, 229);
}

/* Manual Entry Display */

.manual-entry-text {
    font-style: italic;
}

.manual-entry-submit{
    background-color: rgb(98, 168, 229);
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}

/* Photo Credit */

.photo-credit-container {
    font-size: 12px;
}