 
@font-face {
    font-family: 'Stag';
    src: url('../../src/fonts/Stag-Book.otf');
}

@font-face {
    font-family: 'Stag Light';
    src: url('../../src/fonts/Stag-Light.otf');
  }

@font-face {
    font-family: 'Avenir Book';
    src: url('../../src/fonts/AvenirLTStd-Book.otf')
}

/* All components */

.game-display-question-header {
  color: black;
  font-weight: bold;
}

.game-text {
    color: #303023;
    font-family: 'Avenir Book', sans-serif;
}

.game-button {
    background-color: rgb(171, 162, 160);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Stag', 'Verdana', 'Tahoma', 'Arial', sans-serif;
}

/* Top Message */

.top-message {
    margin-top: 3vh;
    padding: 1vh 5vh 0 5vh;
}

.welcome-sub-msg {
    font-style: italic;
}

.correct-msg {
    font-family: 'Stag Light';
    font-style: italic;
}

.game-start-button {
    padding: 15px 30px;
    background-color: rgb(98, 168, 229);
}

.current-level-div {
  /*font-size: xx-large;*/
    font-weight: 700;
    font-size: 24px;
    font-family: 'Stag';
}

/* Answer Display */

.artifact-image {
    max-width: 80vw;
    height: auto;
    border-radius: 5%;
    border-style: solid;
    border-width: 3px;
    border-color: #3a3a31;
}

.artifact-name {
    font-family: 'Stag';
    border-bottom: 1px;
    color: rgb(98, 168, 229);
}

.artifact-text-container {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 20px 15px;
    margin-left: 6vh;
    margin-right: 6vh;
    background: rgba(199, 190, 186, 0.5);
    font-weight: 400;
    font-size: 17px !important;
}

.next-level-button {
    font-size: 32px !important;
    background-color: #99CC66 !important;
    width: 175px;
    height: 175px;
    border-radius: 50% !important;
}

/* Scan Display */


.scanner-display-container {
  margin-left: auto;
  margin-right: auto;
}

.qrScannerV2 {
  margin-left: auto;
  margin-right: auto;
}

.open-scanner-button {
    margin-top: 10px;
    padding: 10px 22px;
    font-size: 32px !important;
    font-style: bold !important;
    background-color: #99CC66 !important;
    width: 175px;
    height: 175px;
    border-radius: 50% !important;
}

.open-scanner-button:focus {
  background-color: #EEAA33;
}

/* Hint Display */

.hint-display {}

.clue-text {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 20px 15px;
    margin-left: 6vh;
    margin-right: 6vh;
    margin-bottom: 2vh;
    background: rgba(199, 190, 186, 0.5);
    font-weight: 400;
    font-size: 22px;
}

/* Manual Entry Display */

.manual-entry-container {
    align-items: center;
    justify-content: center;
    display: inline-block;
    font-family: 'Stag';
}

.numpad-body {
    margin-left: auto;
    margin-right: auto;
    height: 95vw;
    width: 65vw;
    display: grid;
    grid-template: 1.2fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 5px;
    max-height: 500px;
    max-width: 450px;
    padding: 17px;
}

.man-btn {
    border-style: none;
    border-radius: 100%;
    font-family: 'Stag';
    font-size: 34px;
    background-color: #99CC66;
    color: white;
}

.display {
    color: #303023 !important;
    font-size: 48px;
    grid-row: 1;
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
    padding-left: 5px;
    overflow:hidden;
    margin-bottom: 5px;
    border: 1px solid;
    border-radius: 10px;
}

/* buttons for manual entry */

.btn-del {
    grid-row: 5;
    grid-column: 1;
}

.btn-submit {
    font-size: 20px;
    grid-row: 5;
    grid-column: 3;
}

.btn-zero {
    grid-row: 5;
    grid-column: 2;
}

.btn-one {
    grid-row: 4;
    grid-column: 1;
}

.btn-two {
    grid-row: 4;
    grid-column: 2;
}

.btn-three {
    grid-row: 4;
    grid-column: 3;
}

.btn-four {
    grid-row: 3;
    grid-column: 1;
}

.btn-five {
    grid-row: 3;
    grid-column: 2;
}

.btn-six {
    grid-row: 3;
    grid-column: 3;
}

.btn-seven {
    grid-row: 2;
    grid-column: 1;
}

.btn-eight {
    grid-row: 2;
    grid-column: 2;
}

.btn-nine {
    grid-row: 2;
    grid-column: 3;
}

.manual-entry-text {
    margin-left: 5vw;
    margin-right: 5vw;
    font-style: italic;
    font-size: 14px;
}

.manual-entry-submit{
    background-color: rgb(98, 168, 229);
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}

/* Photo Credit */

.photo-credit-container {
    font-size: 12px;
}