@font-face {
  font-family: 'Avenir Book';
  src: url('../../../src/fonts/AvenirLTStd-Book.otf')
}
  
  @font-face {
    font-family: 'Stag';
    src: url('../../../src/fonts/Stag-Book.otf');
  }

.game-button {
    background-color: rgb(171, 162, 160);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Stag', 'Verdana', 'Tahoma', 'Arial', sans-serif;
}


.manual-entry-text {
    font-style: italic;
}

.manual-entry-submit{
    background-color: rgb(98, 168, 229);
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}
